body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        background-color: #A93F55;
        color: #F3F7F0;
        margin: 0 auto;
        padding: 0;
        max-width: 900px;
        }

header {
        margin-top: 0px;
        width: 100%;
        padding-bottom: 25px;
        margin-bottom: 40px;
        font-size: 32px;
        color: #F3F7F0;
        background-color: #19323C;
        }

h1 {
        font-family: Garamond, serif;
        text-align: center; /*centers the title*/
        margin: 0; /*once again makes sure no extra space is above the title*/
        padding: 10px 0;
        }

a {
    color: #87CEEB;
    text-decoration: underline;
    }

a:hover {
        color: #00FFFF;
        }