<nav class="primary-nav">
    <a href="/index.html" class="name-nav">Quinn Conroy</a>
    <div class="nav-links">
        <div class="nav-item" id="classes-menu">
            <button class="nav-btn" onclick="toggleMenu('classes-menu')">ITIS 3135 Assignments ▾</button>
            <div class="dropdown">
                <a href="itis3135.html" class="drop-item">Front-end Development</a>
                <a href="contract.html" class="drop-item">Academic Contract</a>
                <a href="website_evaluations.html" class="drop-item">Website Evaluations</a>
                <a href="product.html" class="drop-item">Product</a>
                <a href="documentation.html" class="drop-item">Documentation</a>
                <a href="inventory.html" class="drop-item">Inventory</a>
                <a href="survey.html" class="drop-item">Survey</a>
                <a href="cards.html" class="drop-item">Cards</a>
                <a href="intro_form.html" class="drop-item">Intro Form</a>
            </div>
        </div>
        <div class="nav-item" id="projects-menu">
            <button class="nav-btn" onclick="toggleMenu('projects-menu')">Class Projects ▾</button>
            <div class="dropdown">
                <a href="projects/index.html" class="drop-item">Client Project</a>
                <a href="hobby/index.html" class="drop-item">Hobby</a>
                <a href="stuff/CRAP%20-p.y.htm" class="drop-item">CRAPpy</a>
            </div>
        </div>
    </div>
</nav>
<script src="../scripts/HTMLInclude-master/HTMLInclude.min.js"></script>
<script src="https://lint.page/kit/4d0fe3.js" crossorigin="anonymous"></script>